* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    box-sizing: border-box;
}

.widget {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    overflow: scroll;
}

.list-widget {
    width: 20%;
}

.preview {
    width: 80%;
    left: 20%;
    border: 1px solid red;
}